/* FOR DEBUGGING ONLY*/
* {
   
}

#right-box {
    background-image: url('../../assets/image/login-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

fieldset:has(input:focus) {
    border-color: #3078FF;
    border-width: 3px;
    font-size: 1.05em;
    animation-duration: 2;
    
}

fieldset:has(input:focus) legend {
    color:#3078FF;
    font-size: 1.05em;
    transition-timing-function: linear;
}






